.form label {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.658);
}

.infoHeader {
  text-align: center;
  padding-bottom: 40px;
  color: #1d4645;
}

.error {
  color: red;
  font-size: 22px;
  font-weight: bold;
  margin-top: -15px;
}
