.result {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*   background-color: yellow; */
}

.quizNameOptions {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
}

.navbare {
  width: 78%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*  background-color: yellow; */
  margin-top: 2%;
  margin-bottom: 2.3%;
  gap: 1.2%;
}

.nav {
  width: 40%;
  height: 70px;
  background-color: rgb(237, 243, 241);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
}

.search {
  width: 98%;
  height: 60px;
  /* background-color: red; */
  display: flex;
  align-items: center;
}

.search button {
  border: none;
  outline: none;
  height: 58px;
  padding: 1.3%;
  border-radius: 3px;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search button:hover {
  background: #4bb53b;
  color: white;
}

.search button i {
  color: black;
  font-size: 26px;
}

.search input {
  width: 98%;
  height: 58px;
  padding: 1.3%;
  border: none;
  outline: none;
  border-radius: 3px;
}

.table {
  width: 48%;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 245, 245);
}

table {
  border-collapse: collapse;
  width: 98%;
  background-color: white;
}

.header {
  background-color: rgb(6, 108, 48);
  color: #fff;
}

.student__result_table:hover {
  background-color: #fff;
}

.cell {
  padding: 12px;
  text-align: left;
  font-size: 20px;
  border-bottom: 1px solid #ddd;
}

.filter {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4%;
  padding: 15px 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.filter span {
  font-size: 23px;
  font-weight: 600;
}

.filter p {
  font-size: 22px;
  font-weight: 400;
}
