.adminProfilePage {
    margin-left: 250px;
    background: rgb(217, 217, 217);
    min-height: 100vh;
}

.mobileviewnavbar {
    display: none;
}

.adminProfilePage .adminnamebanner {
    width: 100%;
    height: 200px;
    background: url('../../../../assets/images/image 8.png');
    font-family: 'Commissioner';
    font-style: normal;
    color: white;
}

.adminProfilePage .adminnamebanner h1 {
    margin: 0;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 40px;
}

.adminProfilePage .adminnamebanner span {
    margin: 0;
    padding-left: 20px;
    font-weight: 400;
    font-size: 1.3rem;
}

.admininformation {
    background: white;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.admininformation .column {
    flex-basis: 31%;
    padding: 10px;
}

.column .field {
    padding: 10px 0;
}

.column .field legend {
    color: rgb(78, 78, 78);  
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 10px;
}

.column .field .input_block {
    background: rgb(206, 206, 206);
    color: rgb(78, 78, 78);
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.column .field .input_block input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 20px;
    min-width: 100px;
    width: 70%;
    font-weight: 700;
    color: rgb(78, 78, 78);
    font-family: 'Commissioner';
}

.profile_pic_container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutyou legend {
    color: rgb(78, 78, 78);  
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 10px;
}

.profile_pic_container .circle {
    border-radius: 50%;
    background: pink;
    width: 45%;
    margin: auto;
    height: 90%;
    color: rgb(78, 78, 78);
    display: flex;
    font-family: 'Commissioner';
    font-weight: 700;
    font-size: 80px;
    justify-content: center;
    align-items: center;
}

.aboutyou .textareadiv textarea {
    padding: 10px;
    width: 90%;
    height: 230px;
    background: rgb(206, 206, 206);
    font-size: 20px;
    font-family: 'Commissioner';
    border-radius: 15px;
    border: none;
}

.column3 legend {
    color: rgb(78, 78, 78);  
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 10px;
}

.column3 .action {
    padding: 20px 0;
}