.sidenav {
    min-height: 100vh;
    background: #1D4645;
    width: 250px;
    color: white;
    font-family: "Commissioner";
}

.sidenav .logodiv {
    padding-top: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

.pageslist {
    padding-top: 0px;
}

.pageslist ul {
    margin: 0;
    padding: 0;
}

.pageslist ul li a {
    align-items: center;
    display: flex;
    gap: 20px;
    line-height: 70px;
    font-weight: 500;
    font-size: 22px;
    padding: 0 30px;
}

.pageslist ul li:hover {
    background: rgba(161, 161, 161, 0.348);
}

.pageslist ul li i {
    width: 30px;
}

.pageslist ul li:last-child {
    align-items: center;
    display: flex;
    gap: 20px;
    line-height: 70px;
    font-weight: 500;
    font-size: 22px;
    padding: 0 30px;
    position: absolute;
    bottom: 50px;
    width: 192px;
    cursor: pointer;
}